:plain
  Share this story by sharing this link: http://monkeymake.it/i/#{@invite_code}

  Or you can tweet by clicking on this really big link:

  http://twitter.com/share?url=http://monkeymake.it/i/#{@invite_code}&text=Checkout%20Oh%20Mighty%20Hiccup%20by%20Scott%20Lambridis%20&count=vertical&via=monkeymakeit&related=trikro:Tristan%20Kromer
