#{@recipient.first_name},
%br
Check out this strange story about an albino duck: http://scottlambridis.com.
Thought you'd like it.

#{@sender.first_name}


\--
(sent from http://monkeymake.it at the request of #{@sender.email})
