#{ @recipient.first_name + ',' unless !@recipient.first_name.nil? }
Check out this strange story about an albino duck: http://scottlambridis.com
Thought you'd like it.
#{ @recipient.first_name unless !@recipient.first_name.nil? }
\--
(sent from http://monkeymake.it at the request of #{@sender.email})
