%p
  Hi!

%p
  I want to share
  %b
    Scott Lambridis' story
  %b
    Doris
  with you.

%p
  You can read it
  %a{ :href => @url}
    here.

%p
  You can also
  %a{ :href => @url}
    sign up
  with two friends and you'll get to read early drafts from Scott's new book and help support art!

%p
  You can sign up
  %a{ :href => @url}
    here
  \.
