#{ @recipient.first_name + ',\r\n' unless !@recipient.first_name.nil? }
\r\n
Check out this strange story about an albino duck: http://scottlambridis.com
Thought you'd like it.
\r\n
#{ @recipient.first_name + '\r\n' unless !@recipient.first_name.nil? }
\r\n
\--
(sent from http://monkeymake.it at the request of #{@sender.email})
