- if @user.name.present?
  Hi #{@user.first_name},
- else
  Hi,

= "\n" # How hard is it to start :plain with a motherfucking newline..

:plain

  I just posted chapter 2 of "Oh, Mighty Hiccup!":
  http://monkeymake.it#{story_chapter_path @story, @chapter}

  "She shrieked, grabbed the loose night-shirt over her heart and clenched it like it would save her life." <-- Tweet this: http://bit.ly/qtAs0G

  If you like what you see, please invite some friends!

  Thanks,
  Scott Lambridis
  Creative Writer, Omnibucket Founder

  P.S. You can start reading from the beginning at http://monkeymake.it/hiccup

= render 'user_mailer/footer_plain'
