@import 'variables'

#bookshelf
  margin: 0 auto 20px
  width: 780px
  padding: 0 20px 30px
  text-align: center

  a
    text-decoration: none
    border-bottom: none

  #bookshelf_inner
    display: inline-block
    .book
      float: left
      position: relative
      margin: 20px
      width: 150px
      height: 200px
      @include box-shadow(0px, 0px, 10px, 0, $black)
      @include transition
      &:hover
        @include transform-scale

      img
        position: absolute
        top: 0
        left: 0
        width: 150px
        text-align: center

      .title
        margin-top: 220px
        color: $white !important