@import 'variables'

#bookshelf
  margin: 20px auto
  width: 900px
  text-align: center
  #bookshelf_inner
    display: inline-block
    .book
      float: left
      position: relative
      margin: 20px
      width: 150px
      height: 200px
      overflow: hidden
      @include box-shadow(5px, 5px, 5px, 0, #555)
      &:hover
        @include box-shadow(5px, 5px, 5px, 0, $blue)

      img
        position: absolute
        top: 0
        left: 0
        width: 150px
      img.sun
        width: 200px
        left: -23px
      img.duck
        width: 180px
        left: -20px