@import 'variables'

container, content
  background-color: $darkblue
  content_inner
    padding: 0
  footer
    text-align: center


#landing_page
  background-color: $darkblue
  width: 100%
  color: $white

  #center_container
    position: relative
    margin: 0 auto
    padding: 20px 0
    width: 950px

    #big_logo
      position: absolute
      z-index: 1
      @include sprite
      height: 300px
      width: 366px
      background: url(/images/logo_big.png) no-repeat 0px 0px

    h1
      margin: 229px 0 0 0
      text-align: center
      font-family: 'Helvetica'
      font-size: 84px
      font-weight: 100
      letter-spacing: -1px
      .first_letter
        font-family: 'Helvetica, serif'
        font-size: 168px
        font-weight: 500

    #description
      margin: 40px 0
      text-align: center
      h2
        margin: 20px
        font-family: 'Helvetica'
        font-size: $giant
        font-weight: 100
        .bold
          font-weight: 500


    #registration
      position: relative
      margin: 60px auto 40px auto
      width: 490px
      height: 100px
      background: $grey
      border: 7px solid $blue
      @include radius

      .field
        margin: 10px 20px 0 20px
        label
          display: none
        input
          padding: 3px
          width: 270px
          font-size: $largest
          font-family: 'Arial'
          color: $darkgrey

      .actions
        position: absolute
        top: 25px
        right: 15px

        input
          height: 52px
          width: 151px
          background: url(/images/button-signup-sprite.png) no-repeat 0px 0px
          @include sprite

        &:hover
          background-position: 0 -52px