= title '- What type of monkey are you?'
- stylesheets 'landing_page'

#landing_page
  #center_container
    #logo_container
      #big_logo

    #description
      %h2
        Publishing
        %span.italics
          sucks.

      %h2
        What happens when a million monkeys collaborate?

    #flash_messages
      = render :partial => '/layouts/flash', :locals => { :flash => flash }

    .cta
      %img{ :src => "images/remixing-now.png" }

    = render '/landing_pages/bookshelf'