#signup
  #signup_inner
    %h2.blue
      Signup for early access to
      %span.darkblue
        Scott's
      story!
    #flash_messages= render :partial => '/layouts/flash', :locals => { :flash => flash }

    = render 'form'