#landing_page
  background-color: $darkblue
  -moz-box-shadow: 5px 5px 5px #ccc
  -webkit-box-shadow: 5px 5px 5px #ccc
  box-shadow: 5px 5px 5px #ccc
  width: 100%
  #center_container
    margin: 0 auto
    width: 950px
    padding: 20px 20px 40px 20px
    #logo_container
      text-align: left
      margin: 0 auto
      position: relative
      h1
        .first_letter
          font-family: 'Helvetica, serif'
          font-size: 168px
        font-family: 'Helvetica'
        font-size: 84px
        font-weight: 500
        letter-spacing: -1px
        margin: 0
        color: $white
        position: absolute
        bottom: -30px
        left: 211px
    #registration
      border: 7px solid $blue
      width: 545px
      height: 100px
      margin: 90px auto 0 auto
      background: $grey
      .field
        margin: 10px 20px 0 20px
        float: left
        label
          display: none
        input
          padding: 3px
          font-size: $largest
          font-family: 'Arial'
          width: 270px
          color: $darkgrey
      .actions
        margin: 10px 0 0 0
        float: left
