#new_signup
  width: 90%
  text-align: center
  padding: 20px
  #new_signup_inner
    display: inline-block
    width: 100%
    h2
      font-family: 'Helvetica'
      font-size: $ginormous
      font-weight: 100
      letter-spacing: -1px
      margin-bottom: 10px
      text-align: left

      h3
        font-family: 'Helvetica'
        font-size: $huge
        font-weight: 100
        letter-spacing: -1px
        margin: 10px 0 0 0
        text-align: left

    #signup_form
      #signup_field_name
        label
          display: none
        #signup_name
          font-family: 'Arial'
          margin: 10px 0
          width: 100px
          font-size: $large

      #signup_field_email
        label
          display: none
        #signup_email
          font-family: 'Arial'
          margin: 10px 0
          width: 250px
          font-size: $huge
          color: $darkgrey
      #signup_field_subscribed
        font-size: $smaller
        font-family: 'Arial'
        input
          margin: 0
          position: relative
          left: -10px
        label
          position: relative
          left: -10px

      .actions
        margin: 8px 0 0 0
        float: right
        input
        .company_id
          font-family: 'Helvetica'
          margin: 10px 0 0 0
          .powered_by
            color: $darkgrey
            font-style: italic
            font-size: $smallest

          .company_name
            color: $black
            font-size: $small