/*html5doctor.com Reset Stylesheet
 *v1.6.1
 *Last Updated: 2010-09-17
 *Author: Richard Clark - http://richclarkdesign.com
 *Twitter: @rich_clark */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html, body {
  height: 100%; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ffff99;
  color: black;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ffff99;
  color: black;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: white;
  font-size: 14px;
  font-family: "Arial, Verdana, sans-serif"; }

container {
  display: block;
  position: relative;
  min-height: 100%;
  width: 100%; }

content {
  display: inline-block;
  width: 100%;
  padding-bottom: 76px;
  background: white; }
  content content_inner {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 30px;
    min-width: 500px;
    max-width: 950px; }

h1 {
  font-size: 2em;
  margin: 20px; }

h2 {
  font-size: 1.7em;
  margin: 20px;
  font-weight: 100; }

p {
  margin: 20px;
  line-height: 1.7em; }

table tr td {
  padding: 10px;
  border: 1px solid black; }
table tr:nth-child(even) {
  background-color: #f2f2f2; }

.bold {
  font-weight: 600; }

.thin {
  font-weight: 100; }

.italics {
  font-style: italic; }

.blue {
  color: #00b7fb !important; }

.darkblue {
  color: #0088ba !important; }

.black {
  color: black !important; }

.grey {
  color: #888888 !important; }

.darkgrey {
  color: #666666 !important; }

.red {
  color: #8a1f11 !important; }

.clear {
  clear: both; }

.hide {
  display: none; }

.nodec {
  text-decoration: none !important;
  border-bottom: none !important; }

input[type="submit"], .blue_button {
  -moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  -webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #00b7fb), color-stop(1, #0088ba));
  background: -moz-linear-gradient(center top, #00b7fb 5%, #0088ba 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$blue, endColorstr='$darkblue');
  background-color: #00b7fb;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  color: white;
  font-family: arial !important;
  font-size: 15px !important;
  font-weight: bold !important;
  padding: 6px 24px !important;
  text-decoration: none;
  text-shadow: 1px 1px 0px #528ecc; }
  input[type="submit"]:hover, .blue_button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0088ba), color-stop(1, #00b7fb));
    background: -moz-linear-gradient(center top, #0088ba 5%, #00b7fb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$darkblue', endColorstr='$blue');
    background-color: #0088ba; }
  input[type="submit"]:active, .blue_button:active {
    position: relative;
    top: 1px; }

input[type="submit"].grey, .grey_button {
  -moz-box-shadow: inset 0px 1px 0px 0px white;
  -webkit-box-shadow: inset 0px 1px 0px 0px white;
  box-shadow: inset 0px 1px 0px 0px white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
  background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color: #ededed;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #777777;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 1px 1px 0px white; }
  input[type="submit"].grey:hover, .grey_button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color: #dfdfdf; }
  input[type="submit"].grey:active, .grey_button:active {
    position: relative;
    top: 1px; }

.tag {
  margin: 0 3px;
  padding: 2px 4px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #5ba5d3;
  color: white; }

.error, .alert, .notice, .success, .info {
  padding: 0.8em;
  margin: 0 auto 20px;
  border: 2px solid #efefea;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.error, .alert {
  background: #fbe3e4;
  border-color: #fbc2c4;
  color: #8a1f11; }
  .error a, .alert a {
    color: #8a1f11; }

.notice, .success {
  background: #e6efc2;
  border-color: #c6d880;
  color: #264409; }
  .notice a, .success a {
    color: #264409; }

.info {
  background: #d5edf8;
  border-color: #92cae4;
  color: #205791; }
  .info a {
    color: #205791; }

.notice, .alert, .success {
  position: relative; }
  .notice p, .alert p, .success p {
    float: left; }
  .notice .close, .alert .close, .success .close {
    position: absolute;
    right: 0;
    top: 2px;
    height: 34px;
    width: 34px;
    background: url("/images/close_icon.png") no-repeat 0 0;
    cursor: pointer;
    opacity: 0.3; }

header {
  position: relative;
  display: inline-block;
  z-index: 2;
  padding: 0;
  height: 58px;
  width: 100%;
  background-color: #418ab5;
  text-align: center;
  color: white;
  -moz-box-shadow: 0 2px 2px 0 #666666;
  -webkit-box-shadow: 0 2px 2px 0 #666666;
  box-shadow: 0 2px 2px 0 #666666; }
  header header_inner {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 30px;
    min-width: 500px;
    max-width: 950px;
    text-align: left; }
    header header_inner a#home_link {
      text-decoration: none;
      color: white; }
      header header_inner a#home_link logo {
        position: absolute;
        top: -1px;
        display: inline-block;
        vertical-align: middle;
        border: none;
        height: 71px;
        width: 562px;
        background: url(/images/logo-small.png) no-repeat 0px 0px; }
      header header_inner a#home_link h1 {
        position: absolute;
        top: 40px;
        left: 115px;
        margin: 0 0 0 0;
        font-family: "Helvetica, Arial, Veranda, sans-serif";
        font-size: 24px;
        font-weight: 100;
        letter-spacing: -1px; }
        header header_inner a#home_link h1 .first_letter {
          font-size: 40px;
          font-weight: 500; }
    header header_inner .top_menu {
      position: absolute;
      right: 30px;
      top: 10px;
      cursor: pointer; }
      header header_inner .top_menu a {
        color: white;
        text-decoration: none; }
      header header_inner .top_menu .signin_twitter_small {
        display: inline-block;
        vertical-align: middle;
        border: none;
        cursor: pointer;
        height: 20px;
        width: 63px;
        background: url(/images/social/signin_twitter_small.png) no-repeat 0px 0px; }
      header header_inner .top_menu .signin_facebook_small {
        display: inline-block;
        vertical-align: middle;
        border: none;
        cursor: pointer;
        height: 20px;
        width: 63px;
        background: url(/images/social/signin_facebook_small.png) no-repeat 0px 0px; }

footer {
  display: inline-block;
  position: absolute;
  z-index: 0;
  bottom: 0;
  width: 100%;
  height: 76px;
  -moz-box-shadow: 0 -2px 2px 0 #666666;
  -webkit-box-shadow: 0 -2px 2px 0 #666666;
  box-shadow: 0 -2px 2px 0 #666666;
  background: #efefea;
  color: #666666;
  font-size: 0.9em; }
  footer footer_inner {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 30px;
    min-width: 500px;
    max-width: 950px; }
    footer footer_inner #footermenu {
      padding: 0 0 0 20px; }
    footer footer_inner a {
      color: #666666; }
