/*html5doctor.com Reset Stylesheet
 *v1.6.1
 *Last Updated: 2010-09-17
 *Author: Richard Clark - http://richclarkdesign.com
 *Twitter: @rich_clark */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html, body {
  height: 100%; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ffff99;
  color: black;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ffff99;
  color: black;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: white;
  font-size: 14px;
  font-family: "Arial, Verdana, sans-serif"; }

container {
  display: block;
  position: relative;
  min-height: 100%;
  width: 100%; }

content {
  display: inline-block;
  width: 100%;
  padding-bottom: 76px;
  background: white; }
  content content_inner {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 30px;
    min-width: 500px;
    max-width: 950px; }

h1 {
  font-size: 2em;
  margin: 20px; }

h2 {
  font-size: 1.7em;
  margin: 20px;
  font-weight: 100; }

p {
  margin: 20px;
  line-height: 1.7em; }

.bold {
  font-weight: 600; }

.thin {
  font-weight: 100; }

.italics {
  font-style: italic; }

.blue {
  color: #00b7fb !important; }

.darkblue {
  color: #0088ba !important; }

.black {
  color: black !important; }

.darkgrey {
  color: #666666 !important; }

.red {
  color: #8a1f11 !important; }

.clear {
  clear: both; }

.hide {
  display: none; }

.nodec {
  text-decoration: none !important;
  border-bottom: none !important; }

.field_with_errors input, .field_with_errors textarea {
  border: 2px #8a1f11 solid !important; }
  .field_with_errors input label, .field_with_errors textarea label {
    color: #8a1f11; }

#error_explanation {
  width: 100%;
  padding: 7px;
  margin-bottom: 20px;
  background-color: #cccc00; }

.tag {
  margin: 0 3px;
  padding: 2px 4px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #5ba5d3;
  color: white; }

.error, .alert, .notice, .success, .info {
  padding: 0.8em;
  margin: 0 auto 20px;
  border: 2px solid #efefea;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.error, .alert {
  background: #fbe3e4;
  border-color: #fbc2c4;
  color: #8a1f11; }
  .error a, .alert a {
    color: #8a1f11; }

.notice, .success {
  background: #e6efc2;
  border-color: #c6d880;
  color: #264409; }
  .notice a, .success a {
    color: #264409; }

.info {
  background: #d5edf8;
  border-color: #92cae4;
  color: #205791; }
  .info a {
    color: #205791; }

.notice, .alert, .success {
  position: relative; }
  .notice p, .alert p, .success p {
    float: left; }
  .notice .close, .alert .close, .success .close {
    position: absolute;
    right: 0;
    top: 2px;
    height: 34px;
    width: 34px;
    background: url("/images/close_icon.png") no-repeat 0 0;
    cursor: pointer;
    opacity: 0.3; }

header {
  position: relative;
  display: inline-block;
  z-index: 2;
  padding: 0;
  height: 58px;
  width: 100%;
  background-color: #418ab5;
  text-align: center;
  color: white;
  -moz-box-shadow: 0 2px 2px 0 #666666;
  -webkit-box-shadow: 0 2px 2px 0 #666666;
  box-shadow: 0 2px 2px 0 #666666; }
  header header_inner {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 30px;
    min-width: 500px;
    max-width: 950px;
    text-align: left; }
    header header_inner a#home_link {
      text-decoration: none;
      color: white; }
      header header_inner a#home_link logo {
        position: absolute;
        top: -1px;
        display: inline-block;
        vertical-align: middle;
        border: none;
        height: 71px;
        width: 562px;
        background: url(/images/logo-small.png) no-repeat 0px 0px; }
      header header_inner a#home_link h1 {
        position: absolute;
        top: 40px;
        left: 115px;
        margin: 0 0 0 0;
        font-family: "Helvetica, Arial, Veranda, sans-serif";
        font-size: 24px;
        font-weight: 100;
        letter-spacing: -1px; }
        header header_inner a#home_link h1 .first_letter {
          font-family: "Helvetica, Arial, Veranda, sans-serif";
          font-size: 40px;
          font-weight: 500; }
    header header_inner .top_menu {
      position: absolute;
      right: 30px;
      top: 10px;
      cursor: pointer; }
      header header_inner .top_menu a {
        color: white;
        text-decoration: none; }
      header header_inner .top_menu .signin_twitter_small {
        display: inline-block;
        vertical-align: middle;
        border: none;
        cursor: pointer;
        height: 20px;
        width: 63px;
        background: url(/images/social/signin_twitter_small.png) no-repeat 0px 0px; }
      header header_inner .top_menu .signin_facebook_small {
        display: inline-block;
        vertical-align: middle;
        border: none;
        cursor: pointer;
        height: 20px;
        width: 63px;
        background: url(/images/social/signin_facebook_small.png) no-repeat 0px 0px; }

footer {
  display: inline-block;
  position: absolute;
  z-index: 0;
  bottom: 0;
  width: 100%;
  height: 76px;
  -moz-box-shadow: 0 -2px 2px 0 #666666;
  -webkit-box-shadow: 0 -2px 2px 0 #666666;
  box-shadow: 0 -2px 2px 0 #666666;
  background: #efefea;
  color: #666666;
  font-size: 0.9em; }
  footer footer_inner {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 30px;
    min-width: 500px;
    max-width: 950px; }
    footer footer_inner #footermenu {
      padding: 0 0 0 20px; }
    footer footer_inner a {
      color: #666666; }

#registration {
  position: relative;
  margin: 60px auto 40px auto;
  height: 100px;
  background: #e6e6e6;
  border: 7px solid #00b7fb;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }
  #registration .field {
    margin: 10px 20px 0 20px; }
    #registration .field label {
      display: none; }
    #registration .field input {
      padding: 3px;
      width: 270px;
      font-size: 1.5em;
      font-family: "Arial, Verdana, sans-serif";
      color: #666666; }
  #registration .actions {
    position: absolute;
    top: 25px;
    right: 15px; }
    #registration .actions input {
      height: 52px;
      width: 151px;
      background: url(/images/buttons/button-signup-sprite.png) no-repeat 0px 0px;
      display: inline-block;
      vertical-align: middle;
      border: none; }
      #registration .actions input:hover {
        background-position: 0 -52px; }

#cboxContent {
  background: #efefea !important; }

#watch h1, #join h1 {
  margin-left: 30px; }
#watch h2, #join h2 {
  text-align: center; }
#watch p, #join p {
  margin: 10px 30px 0 30px;
  font-size: 1.5em;
  color: #666666;
  font-family: "Arial, Verdana, sans-serif";
  line-height: 1em; }
#watch ul, #join ul {
  margin: 20px 0 40px 70px; }
  #watch ul li, #join ul li {
    font-size: 1.5em;
    color: #666666;
    list-style-image: url(/images/check-green.png); }
#watch #registration, #join #registration {
  margin: 0 0 60px 0;
  border: none;
  background: none;
  text-align: center; }
  #watch #registration .field, #join #registration .field {
    margin: 0; }
  #watch #registration .actions, #join #registration .actions {
    position: relative;
    top: 0;
    right: 0;
    margin: 20px 0 0 0; }
    #watch #registration .actions input, #join #registration .actions input {
      padding: 0;
      height: 52px;
      width: 166px;
      background: url(/images/button/button-signup-sprite.png) no-repeat 0px 0px; }

#social_signup {
  text-align: center; }
  #social_signup .signin_twitter {
    display: inline-block;
    vertical-align: middle;
    border: none;
    cursor: pointer;
    height: 32px;
    width: 230px;
    margin: 5px;
    background: url(/images/social/signin_twitter.png) no-repeat 0px 0px; }
  #social_signup .signin_facebook {
    display: inline-block;
    vertical-align: middle;
    border: none;
    cursor: pointer;
    height: 32px;
    width: 230px;
    margin: 5px;
    background: url(/images/social/signin_facebook.png) no-repeat 0px 0px; }
  #social_signup .signup_via_email {
    margin: 10px 0 0 0;
    cursor: pointer;
    font-size: 0.8em;
    color: #666666; }
    #social_signup .signup_via_email:hover {
      color: #0088ba; }

#no_spam_disclaimer {
  position: absolute;
  bottom: 0;
  font-size: 0.9em !important; }

.sharing-show .twitter {
  float: left;
  padding: 0 0 0 10px;
  position: relative;
  top: -3px; }
.sharing-show .facebook {
  float: left;
  padding: 0;
  position: relative;
  top: -2px; }

.signup_widget {
  background: white;
  margin: 10px 0;
  border: 3px solid #0088ba;
  -moz-box-shadow: 0 0 5px 0 #666666;
  -webkit-box-shadow: 0 0 5px 0 #666666;
  box-shadow: 0 0 5px 0 #666666; }
  .signup_widget .signup_header {
    padding: 10px 10px 0 10px;
    background-color: #0088ba; }
    .signup_widget .signup_header h4 {
      color: white;
      border-bottom: none;
      padding: 0;
      margin: 0; }
  .signup_widget .signup_content {
    padding: 10px; }
    .signup_widget .signup_content p {
      margin: 0;
      padding: 0;
      font-size: 1.2em;
      font-family: Arial, sans-serif; }
    .signup_widget .signup_content .field {
      margin: 10px 20px 0 0px; }
      .signup_widget .signup_content .field label {
        display: none; }
      .signup_widget .signup_content .field input {
        padding: 3px;
        width: 250px;
        font-size: 1.5em;
        font-family: "Arial, Verdana, sans-serif";
        color: #666666; }
    .signup_widget .signup_content .actions {
      text-align: center;
      margin: 10px 0 0 0; }
      .signup_widget .signup_content .actions input {
        height: 52px;
        width: 151px;
        background: url(/images/buttons/button-signup-sprite.png) no-repeat 0px 0px;
        display: inline-block;
        vertical-align: middle;
        border: none; }
        .signup_widget .signup_content .actions input:hover {
          background-position: 0 -52px; }

.signup_widget_bottom {
  margin: 10px 0 40px 0;
  text-align: center; }
  .signup_widget_bottom .signup_header {
    padding: 10px 10px 0 10px; }
    .signup_widget_bottom .signup_header h2 {
      border-bottom: none;
      padding: 0 !important;
      margin: 0 !important;
      color: black !important; }
  .signup_widget_bottom .signup_content p {
    margin: 10px 0 0 0 !important;
    padding: 0 !important;
    font-size: 1.2em;
    font-family: Arial, sans-serif;
    margin-left: 20px !important;
    text-align: center !important; }
  .signup_widget_bottom .signup_content p + p {
    text-indent: 0 !important; }
  .signup_widget_bottom .signup_content .field {
    margin: 10px 20px 0 20px; }
    .signup_widget_bottom .signup_content .field label {
      display: none; }
    .signup_widget_bottom .signup_content .field input {
      padding: 3px;
      width: 250px;
      font-size: 1.5em;
      font-family: "Arial, Verdana, sans-serif";
      color: #666666; }
  .signup_widget_bottom .signup_content .actions {
    text-align: center;
    margin: 10px 0 0 0; }
    .signup_widget_bottom .signup_content .actions input {
      height: 52px;
      width: 151px;
      background: url(/images/buttons/button-signup-sprite.png) no-repeat 0px 0px;
      display: inline-block;
      vertical-align: middle;
      border: none; }
      .signup_widget_bottom .signup_content .actions input:hover {
        background-position: 0 -52px; }
