/*html5doctor.com Reset Stylesheet
 *v1.6.1
 *Last Updated: 2010-09-17
 *Author: Richard Clark - http://richclarkdesign.com
 *Twitter: @rich_clark */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  height: 100%; }

body {
  line-height: 1;
  height: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ffff99;
  color: black;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ffff99;
  color: black;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: white;
  font-size: 14px;
  font-family: Arial, sans-serif; }

container {
  display: block;
  position: relative;
  min-height: 100%; }

content {
  display: inline-block;
  width: 100%;
  padding-bottom: 76px;
  text-align: center;
  background: white; }
  content content_inner {
    display: inline-block;
    position: relative;
    padding: 30px;
    text-align: left;
    min-width: 500px; }

h1 {
  font-size: 2em;
  margin: 20px; }

h2 {
  font-size: 1.6em;
  margin: 20px;
  font-weight: 100; }

p {
  margin: 20px;
  line-height: 1.6em; }

.bold {
  font-weight: 500px; }

.thin {
  font-weight: 100px; }

.italics {
  font-style: italic; }

.blue {
  color: #00b7fb !important; }

.darkblue {
  color: #0088ba !important; }

.black {
  color: black !important; }

.darkgrey {
  color: #666666 !important; }

.clear {
  clear: both; }

.field_with_errors input, .field_with_errors textarea {
  border: 2px #8a1f11 solid !important; }
  .field_with_errors input label, .field_with_errors textarea label {
    color: #8a1f11; }

#error_explanation {
  width: 100%;
  padding: 7px;
  margin-bottom: 20px;
  background-color: #cccc00; }

.error, .alert, .notice, .success, .info {
  padding: 0.8em;
  margin: 0 auto;
  width: 100%;
  border: 2px solid #efefea;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.error, .alert {
  background: #fbe3e4;
  border-color: #fbc2c4;
  color: #8a1f11; }
  .error a, .alert a {
    color: #8a1f11; }

.notice, .success {
  background: #e6efc2;
  border-color: #c6d880;
  color: #264409; }
  .notice a, .success a {
    color: #264409; }

.info {
  background: #d5edf8;
  border-color: #92cae4;
  color: #205791; }
  .info a {
    color: #205791; }

.notice, .alert, .success {
  position: relative; }
  .notice p, .alert p, .success p {
    float: left; }
  .notice .close, .alert .close, .success .close {
    position: absolute;
    right: 0;
    top: 2px;
    height: 34px;
    width: 34px;
    background: url("/images/close_icon.png") no-repeat 0 0;
    cursor: pointer;
    opacity: 0.3; }

header {
  position: relative;
  display: inline-block;
  z-index: 2;
  padding: 0;
  height: 80px;
  width: 100%;
  background-color: #0088ba;
  text-align: center;
  color: white;
  -moz-box-shadow: 0 5px 5px 0 #cccccc;
  -webkit-box-shadow: 0 5px 5px 0 #cccccc;
  box-shadow: 0 5px 5px 0 #cccccc; }
  header header_inner {
    display: inline-block;
    position: relative;
    padding: 10px;
    min-width: 500px;
    text-align: left; }
    header header_inner a#home_link {
      text-decoration: none;
      color: white; }
      header header_inner a#home_link logo {
        position: absolute;
        top: 10px;
        display: inline-block;
        vertical-align: middle;
        border: none;
        height: 80px;
        width: 98px;
        background: url(/images/logo_small.png) no-repeat 0px 0px; }
      header header_inner a#home_link h1 {
        position: absolute;
        top: 40px;
        left: 95px;
        margin: 0 0 0 0;
        font-family: "Helvetica";
        font-size: 24px;
        font-weight: 100;
        letter-spacing: -1px; }
        header header_inner a#home_link h1 .first_letter {
          font-family: "Helvetica, serif";
          font-size: 40px;
          font-weight: 500; }

footer {
  display: inline-block;
  position: absolute;
  z-index: 0;
  bottom: 0;
  padding: 20px 0;
  width: 100%;
  height: 40px;
  -moz-box-shadow: 0 -5px 5px 0 #cccccc;
  -webkit-box-shadow: 0 -5px 5px 0 #cccccc;
  box-shadow: 0 -5px 5px 0 #cccccc;
  background: #efefea;
  color: #666666;
  text-align: center;
  font-size: 0.9em; }
  footer footer_inner {
    display: inline-block;
    position: relative;
    padding: 10px 0;
    min-width: 500px; }
    footer footer_inner #footermenu {
      padding: 0 0 0 20px; }
    footer footer_inner a {
      color: #666666; }
