/* Base Template by TK
 * Author: Tristan Kromer - http://GrasshopperHerder.com
 * Twitter: @TriKro
 */
/*html5doctor.com Reset Stylesheet
 *v1.6.1
 *Last Updated: 2010-09-17
 *Author: Richard Clark - http://richclarkdesign.com
 *Twitter: @rich_clark */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ffff99;
  color: black;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ffff99;
  color: black;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.blue {
  color: #00b7fb; }

.darkblue {
  color: #0088ba; }

.clear {
  clear: both; }

#suggestion_submit {
  display: inline-block;
  vertical-align: middle;
  border: none;
  background: url(/images/button-tweakit_up.png) no-repeat 0px 0px;
  height: 51px;
  width: 166px; }

#suggestion_submit:hover {
  background: url(/images/button-tweakit_overdown.png) no-repeat 0px 0px; }

#signup_box input[type="submit"] {
  display: inline-block;
  vertical-align: middle;
  border: none;
  background: url(/images/button-getthecode-sprite.png) no-repeat 0px 0px;
  height: 52px;
  width: 206px; }

#signup_box input[type="submit"]:hover {
  background-position: 0 -52px; }

.tweakthis {
  display: inline-block;
  vertical-align: middle;
  border: none;
  background: url(/images/button-tweakthis_up.png) no-repeat 0px 0px;
  height: 51px;
  width: 185px; }

.tweakthis:hover {
  background: url(/images/button-tweakthis_overdown.png) no-repeat 0px 0px; }

#demo_sprite {
  display: inline-block;
  vertical-align: middle;
  border: none;
  background: url(/images/button-tweakthis-example-sprite.png) no-repeat 0px 0px;
  height: 350px;
  width: 339px; }

#demo_sprite:hover {
  background-position: 0px -355px; }

header {
  padding: 0 20px;
  margin-bottom: 25px;
  min-height: 90px; }
  header #header_inner {
    position: relative;
    padding-top: 5px;
    max-width: 960px;
    margin: 0 auto;
    height: 55px;
    min-width: 400px; }
    header #header_inner #newlogo {
      position: absolute;
      top: 35px;
      z-index: 1001; }
      header #header_inner #newlogo a {
        color: #cccccc; }
        header #header_inner #newlogo a span {
          position: absolute;
          width: 300px;
          left: 60px; }
    header #header_inner #topmenu {
      float: right;
      position: absolute;
      height: 35px;
      right: 0px;
      top: 10px;
      padding: 0; }
      header #header_inner #topmenu .inner {
        font-size: 18px;
        height: 30px;
        line-height: 30px;
        color: #d0d0c9;
        font-family: "Yanone Kaffeesatz", arial, serif;
        display: inline-block;
        margin-right: 10px; }
        header #header_inner #topmenu .inner img.small-avatar {
          vertical-align: -28%;
          margin-right: 8px;
          border: 2px solid #505571;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px; }
        header #header_inner #topmenu .inner a {
          color: white;
          border: 0; }
          header #header_inner #topmenu .inner a:hover {
            text-decoration: underline; }
    header #header_inner #logo_container {
      position: absolute;
      top: -10px;
      left: -70px; }

footer {
  padding: 0 20px;
  display: block;
  bottom: 0;
  position: relative;
  font-size: 0.9em;
  color: #666666;
  background: none;
  clear: both;
  text-align: center; }
  footer #footer_inner {
    margin: 0 auto 15px auto;
    padding: 10px 0; }
    footer #footer_inner #footermenu {
      padding: 0 0 0 20px; }
    footer #footer_inner a {
      color: #666666; }

body {
  position: relative;
  font-size: 14px;
  font-family: Arial, sans-serif;
  background: #efefea; }

body_container {
  position: relative;
  margin: 0 auto; }

#main_content {
  text-align: center; }
  #main_content #main_content_inner {
    width: 90%;
    display: inline-block; }

#new_suggestion {
  width: 90%;
  text-align: center;
  padding: 20px; }
  #new_suggestion #demo {
    position: absolute;
    top: 150px;
    left: 25px;
    font-size: 4em;
    font-weight: 600;
    color: red; }
  #new_suggestion #new_suggestion_inner {
    display: inline-block;
    width: 100%; }
    #new_suggestion #new_suggestion_inner h2 {
      font-family: "Helvetica";
      font-size: 2em;
      font-weight: 100;
      letter-spacing: -1px;
      margin-bottom: 10px;
      text-align: left; }
    #new_suggestion #new_suggestion_inner .edit_suggestion {
      width: 100%; }
      #new_suggestion #new_suggestion_inner .edit_suggestion #suggestion_field_content {
        width: 100%; }
        #new_suggestion #new_suggestion_inner .edit_suggestion #suggestion_field_content #suggestion_after_text {
          font-family: "Arial";
          padding: 10px;
          width: 100%;
          height: 290px;
          line-height: 1.6em;
          font-size: 0.9em; }
      #new_suggestion #new_suggestion_inner .edit_suggestion h3 {
        font-family: "Helvetica";
        font-size: 1.5em;
        font-weight: 100;
        letter-spacing: -1px;
        margin: 10px 0 0 0;
        text-align: left; }
      #new_suggestion #new_suggestion_inner .edit_suggestion .credit {
        float: left;
        text-algin: left; }
        #new_suggestion #new_suggestion_inner .edit_suggestion .credit #suggestion_field_name label {
          display: none; }
        #new_suggestion #new_suggestion_inner .edit_suggestion .credit #suggestion_field_name #suggestion_name {
          font-family: "Arial";
          margin: 10px 0;
          width: 100px;
          font-size: 1.1em; }
        #new_suggestion #new_suggestion_inner .edit_suggestion .credit #suggestion_field_email label {
          display: none; }
        #new_suggestion #new_suggestion_inner .edit_suggestion .credit #suggestion_field_email #suggestion_email {
          font-family: "Arial";
          margin: 10px 0;
          width: 250px;
          font-size: 1.1em;
          color: #666666; }
        #new_suggestion #new_suggestion_inner .edit_suggestion .credit #suggestion_field_subscribed {
          font-size: 0.8em;
          font-family: "Arial"; }
          #new_suggestion #new_suggestion_inner .edit_suggestion .credit #suggestion_field_subscribed input {
            margin: 0;
            position: relative;
            left: -10px; }
          #new_suggestion #new_suggestion_inner .edit_suggestion .credit #suggestion_field_subscribed label {
            position: relative;
            left: -10px; }
      #new_suggestion #new_suggestion_inner .edit_suggestion .actions {
        margin: 8px 0 0 0;
        float: right; }
        #new_suggestion #new_suggestion_inner .edit_suggestion .actions .company_id {
          font-family: "Helvetica";
          margin: 10px 0 0 0; }
          #new_suggestion #new_suggestion_inner .edit_suggestion .actions .company_id .powered_by {
            color: #666666;
            font-style: italic;
            font-size: 0.7em; }
          #new_suggestion #new_suggestion_inner .edit_suggestion .actions .company_id .company_name {
            color: black;
            font-size: 0.9em; }

#suggestion_thanks {
  text-align: center; }
  #suggestion_thanks #suggestion_thanks_inner {
    display: inline-block;
    text-align: left; }
    #suggestion_thanks #suggestion_thanks_inner h1 {
      font-family: "Helvetica";
      font-size: 5em;
      font-weight: 100;
      letter-spacing: -1px;
      margin: 80px 0 30px 0; }
    #suggestion_thanks #suggestion_thanks_inner p {
      font-family: "Arial";
      font-size: 1.3em;
      margin: 40px 0 0 0; }
    #suggestion_thanks #suggestion_thanks_inner #sharing-show {
      margin: 20px 0 0 0;
      float: left;
      height: 0; }
      #suggestion_thanks #suggestion_thanks_inner #sharing-show .twitter {
        float: left;
        position: relative;
        top: -3px; }
      #suggestion_thanks #suggestion_thanks_inner #sharing-show .facebook {
        float: left;
        padding: 0;
        position: relative;
        top: -2px; }

#landing_page {
  text-align: left;
  background-color: white;
  padding: 20px;
  -moz-box-shadow: 5px 5px 5px #cccccc;
  -webkit-box-shadow: 5px 5px 5px #cccccc;
  box-shadow: 5px 5px 5px #cccccc;
  width: 900px; }
  #landing_page h1 {
    font-family: "Helvetica";
    font-size: 6em;
    font-weight: 100;
    letter-spacing: -1px;
    margin: 0 0 20px 5px; }
  #landing_page #left_column {
    float: left; }
  #landing_page #right_column {
    float: left;
    margin: 0; }
    #landing_page #right_column ul {
      margin: 50px 0 0 50px; }
      #landing_page #right_column ul li {
        font-family: "Helvetica";
        list-style-image: url(/images/check-green.png);
        font-size: 1.6em;
        font-weight: 100;
        letter-spacing: -1px;
        margin: 5px 0 0 0; }
    #landing_page #right_column #signup_box {
      border: 7px solid #00b7fb;
      width: 545px;
      height: 70px;
      margin: 90px 0 0 0;
      background: #e6e6e6; }
      #landing_page #right_column #signup_box .field {
        margin: 20px;
        float: left; }
        #landing_page #right_column #signup_box .field label {
          display: none; }
        #landing_page #right_column #signup_box .field input {
          padding: 3px;
          font-size: 1.3em;
          font-family: "Arial";
          width: 270px;
          color: #666666; }
      #landing_page #right_column #signup_box .actions {
        margin: 10px 0 0 0;
        float: left; }
