body {
  position: relative;
  background: #efefea;
  font-size: 14px;
  font-family: Arial, sans-serif; }

body_container {
  position: relative;
  margin: 0 auto; }

#white_background {
  margin: 10px 0 0 0;
  padding: 15px 25px;
  width: 900px;
  min-height: 400px;
  background: white;
  -moz-box-shadow: -10px 10px 50px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -10px 10px 50px 0px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 10px 50px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.blue {
  color: #00b7fb !important; }

.darkblue {
  color: #0088ba !important; }

.black {
  color: black !important; }

.darkgrey {
  color: #666666 !important; }

.clear {
  clear: both; }
