.signup_widget_bottom {
  margin: 10px 0 40px 0;
  text-align: center; }
  .signup_widget_bottom .signup_header {
    padding: 10px 10px 0 10px; }
    .signup_widget_bottom .signup_header h2 {
      border-bottom: none;
      padding: 0 !important;
      margin: 0 !important;
      color: black !important; }
  .signup_widget_bottom .signup_content p {
    margin: 10px 0 0 0 !important;
    padding: 0 !important;
    font-size: 1.2em;
    font-family: Arial, sans-serif;
    margin-left: 20px !important;
    text-align: center !important; }
  .signup_widget_bottom .signup_content p + p {
    text-indent: 0 !important; }
  .signup_widget_bottom .signup_content .blue_button {
    margin: 10px; }
  .signup_widget_bottom .signup_content .field {
    margin: 10px 20px 0 20px; }
    .signup_widget_bottom .signup_content .field label {
      display: none; }
    .signup_widget_bottom .signup_content .field input {
      padding: 3px;
      width: 250px;
      font-size: 1.5em;
      font-family: "Arial, Verdana, sans-serif";
      color: #666666; }
  .signup_widget_bottom .signup_content .actions {
    text-align: center;
    margin: 10px 0 0 0; }

.signup_widget {
  background: white;
  margin: 10px 0;
  border: 3px solid #0088ba;
  -moz-box-shadow: 0 0 5px 0 #666666;
  -webkit-box-shadow: 0 0 5px 0 #666666;
  box-shadow: 0 0 5px 0 #666666; }
  .signup_widget .signup_header {
    padding: 10px 10px 0 10px;
    background-color: #0088ba; }
    .signup_widget .signup_header h4 {
      color: white;
      border-bottom: none;
      padding: 0;
      margin: 0; }
  .signup_widget .signup_content {
    text-align: center;
    padding: 10px; }
    .signup_widget .signup_content p {
      text-align: left;
      margin: 0;
      padding: 0;
      font-size: 1.2em;
      font-family: Arial, sans-serif; }
    .signup_widget .signup_content .blue_button {
      margin: 10px; }
    .signup_widget .signup_content .field {
      margin: 10px 20px 0 0px; }
      .signup_widget .signup_content .field label {
        display: none; }
      .signup_widget .signup_content .field input {
        padding: 3px;
        width: 250px;
        font-size: 1.5em;
        font-family: "Arial, Verdana, sans-serif";
        color: #666666; }
    .signup_widget .signup_content .actions {
      text-align: center;
      margin: 10px 0 0 0; }

#right_column2 .invite_widget {
  background: white;
  margin: 10px 0;
  border: 3px solid #0088ba;
  -moz-box-shadow: 0 0 5px 0 #666666;
  -webkit-box-shadow: 0 0 5px 0 #666666;
  box-shadow: 0 0 5px 0 #666666; }
  #right_column2 .invite_widget .invite_header {
    padding: 10px 10px 0 10px;
    background-color: #0088ba; }
    #right_column2 .invite_widget .invite_header h4 {
      color: white;
      border-bottom: none;
      padding: 0;
      margin: 0; }
  #right_column2 .invite_widget .invite_content {
    padding: 10px; }
    #right_column2 .invite_widget .invite_content p {
      margin: 0;
      padding: 0;
      font-size: 1.2em;
      font-family: Arial, sans-serif; }
    #right_column2 .invite_widget .invite_content .field {
      margin: 10px 20px 0 0px; }
      #right_column2 .invite_widget .invite_content .field label {
        display: none; }
      #right_column2 .invite_widget .invite_content .field input {
        padding: 3px;
        width: 250px;
        font-size: 1.5em;
        font-family: "Arial, Verdana, sans-serif";
        color: #666666; }
    #right_column2 .invite_widget .invite_content .actions {
      text-align: center;
      margin: 10px 0 0 0; }

#left_column2 .invite_widget {
  margin: 10px 0 40px 0;
  text-align: center; }
  #left_column2 .invite_widget .invite_header {
    padding: 10px 10px 0 10px; }
    #left_column2 .invite_widget .invite_header h2 {
      border-bottom: none;
      padding: 0 !important;
      margin: 0 !important;
      color: black !important; }
  #left_column2 .invite_widget .invite_content p {
    margin: 10px 0 0 0 !important;
    padding: 0 !important;
    font-size: 1.2em;
    font-family: Arial, sans-serif;
    margin-left: 20px !important;
    text-align: center !important; }
  #left_column2 .invite_widget .invite_content p + p {
    text-indent: 0 !important; }
  #left_column2 .invite_widget .invite_content .blue_button {
    margin: 10px; }
  #left_column2 .invite_widget .invite_content .field {
    margin: 10px 20px 0 20px; }
    #left_column2 .invite_widget .invite_content .field label {
      display: none; }
    #left_column2 .invite_widget .invite_content .field input {
      padding: 3px;
      width: 250px;
      font-size: 1.5em;
      font-family: "Arial, Verdana, sans-serif";
      color: #666666; }
  #left_column2 .invite_widget .invite_content .actions {
    text-align: center;
    margin: 10px 0 0 0; }

content {
  background: #f7f6ed; }

#story {
  width: 950px; }
  #story h1 {
    margin: 0;
    padding: 0;
    font-size: 4em;
    font-family: "Georgia, Times New Roman, serif";
    font-weight: 100;
    color: black; }
  #story h2 {
    margin: 10px 0 20px 40px;
    padding: 0;
    font-size: 1.8em;
    font-family: "Georgia, Times New Roman, serif";
    color: #7a7a7a; }
  #story #left_column1 {
    float: left;
    color: #111111;
    width: 610px;
    z-index: 3; }
  #story #right_column1 {
    float: right;
    color: #111111;
    width: 300px;
    z-index: 3; }
  #story #left_column2 {
    float: left;
    color: #111111;
    width: 610px;
    z-index: 3; }
    #story #left_column2 .story_pic {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      border: none;
      float: left;
      z-index: 3;
      padding: 20px 20px 30px 0; }
      #story #left_column2 .story_pic img {
        width: 250px; }
    #story #left_column2 .art_credit {
      position: absolute;
      font-size: 0.9em;
      bottom: 14px;
      left: 60px;
      color: #666666; }
    #story #left_column2 .first_letter {
      font-size: 48px;
      font-weight: 100;
      font-family: "Georgia, Times New Roman, serif";
      color: #dc9422; }
    #story #left_column2 p {
      margin: 20px 0;
      padding: 0;
      line-height: 26px;
      font-family: "Tahoma, Arial, sans-serif";
      color: #111111;
      text-align: justify; }
      #story #left_column2 p + p {
        text-indent: 30px; }
    #story #left_column2 p.first_p {
      margin-top: 20px; }
    #story #left_column2 .copyright {
      font-size: 0.9em;
      color: #666666; }
    #story #left_column2 .story_sharing-bottom {
      margin: 0 0 40px 170px;
      height: 40px; }
  #story #right_column2 {
    float: right;
    width: 300px;
    margin: 10px 0 40px 0;
    z-index: 3; }
    #story #right_column2 h4 {
      font-size: 2em;
      font-family: "Reenie Beanie", cursive;
      color: #0088ba;
      border-bottom: 2px solid #666666;
      margin: 0 0 10px 0;
      padding: 0 0 5px 0; }
    #story #right_column2 #about_author {
      background: white;
      padding: 10px;
      margin: 20px 0;
      -moz-box-shadow: 0 0 5px 0 #666666;
      -webkit-box-shadow: 0 0 5px 0 #666666;
      box-shadow: 0 0 5px 0 #666666; }
      #story #right_column2 #about_author p {
        margin: 0;
        padding: 0;
        text-align: justified; }
