content {
  background: #f7f6ed; }

#crout {
  width: 950px; }
  #crout h1 {
    margin: 0;
    padding: 0;
    font-size: 4em;
    font-family: "Georgia, Times New Roman, serif";
    font-weight: 100;
    color: black; }
  #crout h2 {
    margin: 10px 0 20px 40px;
    padding: 0;
    font-size: 1.8em;
    font-family: "Georgia, Times New Roman, serif";
    color: #7a7a7a; }
  #crout #left_column1 {
    float: left;
    color: #111111;
    width: 600px;
    z-index: 3; }
    #crout #left_column1 .story_sharing {
      margin-left: 30px; }
  #crout #right_column1 {
    float: right;
    color: #111111;
    width: 300px;
    z-index: 3; }
  #crout .buttons {
    width: 250px;
    margin: 0 auto;
    position: relative;
    height: 108px; }
    #crout .buttons .join_modal {
      position: absolute;
      left: -55px;
      top: 0;
      display: inline-block;
      vertical-align: middle;
      border: none;
      height: 112px;
      width: 198px;
      background: url(/images/remix-hiccup/button-remix-arrow-sprite.png) no-repeat 0px 0px; }
      #crout .buttons .join_modal:hover {
        background-position: 0 -112px; }
    #crout .buttons .watch_modal {
      position: absolute;
      right: -45px;
      top: 0;
      display: inline-block;
      vertical-align: middle;
      border: none;
      height: 112px;
      width: 198px;
      background: url(/images/remix-hiccup/button-follow-arrow-sprite.png) no-repeat 0px 0px; }
      #crout .buttons .watch_modal:hover {
        background-position: 0 -112px; }
  #crout #left_column2 {
    float: left;
    color: #111111;
    width: 600px;
    z-index: 3; }
    #crout #left_column2 .story_pic {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      border: none;
      float: left;
      z-index: 3;
      padding: 20px 20px 0px 0; }
      #crout #left_column2 .story_pic img {
        width: 300px; }
    #crout #left_column2 .story_sharing {
      position: absolute;
      left: 340px;
      margin: 23px 0 0 0; }
    #crout #left_column2 #first_letter {
      font-size: 48px;
      font-weight: 100;
      font-family: "Georgia, Times New Roman, serif";
      color: #dc9422; }
    #crout #left_column2 p {
      margin: 20px 0;
      padding: 0;
      line-height: 26px;
      font-family: "Tahoma, Arial, sans-serif";
      color: #111111;
      text-align: justify; }
      #crout #left_column2 p + p {
        text-indent: 30px; }
    #crout #left_column2 #first_p {
      margin-top: 110px; }
    #crout #left_column2 .copyright {
      font-size: 0.9em;
      color: #666666; }
    #crout #left_column2 .story_sharing-bottom {
      margin: 0 0 40px 170px;
      height: 40px; }
  #crout #right_column2 {
    float: right;
    width: 320px;
    margin-bottom: 40px;
    z-index: 3; }
    #crout #right_column2 h4 {
      font-size: 2em;
      font-family: "Reenie Beanie", cursive;
      color: #0088ba;
      border-bottom: 2px solid #666666;
      margin: 0 0 10px 0;
      padding: 0 0 5px 0; }
    #crout #right_column2 #contributors {
      background: white;
      padding: 10px 10px;
      margin: 10px 0 10px 0;
      -moz-box-shadow: 0 0 5px 0 #666666;
      -webkit-box-shadow: 0 0 5px 0 #666666;
      box-shadow: 0 0 5px 0 #666666; }
      #crout #right_column2 #contributors #artist, #crout #right_column2 #contributors #author {
        margin: 0 0 20px 0;
        font-weight: 600; }
        #crout #right_column2 #contributors #artist img, #crout #right_column2 #contributors #author img {
          width: 35px;
          vertical-align: middle; }
      #crout #right_column2 #contributors .role {
        font-weight: 100;
        font-size: 13px; }
      #crout #right_column2 #contributors p {
        margin: 0;
        padding: 0; }
      #crout #right_column2 #contributors .contributor {
        float: left;
        margin: 0 0 10px 0; }
        #crout #right_column2 #contributors .contributor img {
          width: 35px;
          margin: 0 2px; }
    #crout #right_column2 #activities {
      background: white;
      padding: 10px 10px;
      margin: 21px 0 10px;
      -moz-box-shadow: 0 0 5px 0 #666666;
      -webkit-box-shadow: 0 0 5px 0 #666666;
      box-shadow: 0 0 5px 0 #666666; }
      #crout #right_column2 #activities .activity {
        font-size: 13px;
        margin: 5px 0 0 0;
        border-bottom: 1px solid #e6e6e6; }
        #crout #right_column2 #activities .activity .activity_pic {
          margin: 5px;
          float: left; }
          #crout #right_column2 #activities .activity .activity_pic img {
            width: 40px; }
        #crout #right_column2 #activities .activity .activity_content {
          float: right;
          width: 250px; }
          #crout #right_column2 #activities .activity .activity_content p {
            line-height: 1.05em;
            margin: 9px 0;
            padding: 0; }
          #crout #right_column2 #activities .activity .activity_content .summary .actor {
            font-weight: 600; }
          #crout #right_column2 #activities .activity .activity_content .summary .verb {
            color: #666666; }
          #crout #right_column2 #activities .activity .activity_content .summary .object {
            font-weight: 600; }
          #crout #right_column2 #activities .activity .activity_content .details {
            color: #666666; }
          #crout #right_column2 #activities .activity .activity_content .timestamp {
            font-size: 0.8em;
            color: #bdbdbd; }
        #crout #right_column2 #activities .activity .actor_icon img {
          width: 30px; }
    #crout #right_column2 #related_crouts {
      background: white;
      padding: 10px;
      margin: 10px 0;
      -moz-box-shadow: 0 0 5px 0 #666666;
      -webkit-box-shadow: 0 0 5px 0 #666666;
      box-shadow: 0 0 5px 0 #666666; }
      #crout #right_column2 #related_crouts .related_crout a {
        color: black;
        text-decoration: none; }
        #crout #right_column2 #related_crouts .related_crout a:hover .title {
          color: #0088ba; }
        #crout #right_column2 #related_crouts .related_crout a img {
          float: left;
          width: 65px; }
        #crout #right_column2 #related_crouts .related_crout a .title {
          margin: 10px 0 0 70px;
          padding: 10px 0 0 0;
          font-weight: 600; }
        #crout #right_column2 #related_crouts .related_crout a .subtitle {
          margin: 5px 0 0 70px; }
    #crout #right_column2 #about_author {
      background: white;
      padding: 10px;
      margin: 10px 0;
      -moz-box-shadow: 0 0 5px 0 #666666;
      -webkit-box-shadow: 0 0 5px 0 #666666;
      box-shadow: 0 0 5px 0 #666666; }
      #crout #right_column2 #about_author p {
        margin: 0;
        padding: 0;
        text-align: justified; }
