footer {
  display: block;
  position: relative;
  clear: both;
  bottom: 0;
  padding: 0 20px;
  background: none;
  color: #666666;
  text-align: center;
  font-size: 0.9em; }
  footer #footer_inner {
    margin: 0 auto 15px auto;
    padding: 10px 0; }
    footer #footer_inner #footermenu {
      padding: 0 0 0 20px; }
    footer #footer_inner a {
      color: #666666; }
