#signup_box input[type="submit"] {
  display: inline-block;
  vertical-align: middle;
  border: none;
  background: url(/images/button-getthecode-sprite.png) no-repeat 0px 0px;
  height: 52px;
  width: 206px; }

#signup_box input[type="submit"]:hover {
  background-position: 0 -52px; }
