container, content {
  background-color: #0088ba; }
  container content_inner, content content_inner {
    padding: 0; }

#landing_page {
  background-color: #0088ba;
  width: 100%;
  color: white; }
  #landing_page #center_container {
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
    width: 950px; }
    #landing_page #center_container #big_logo {
      position: absolute;
      z-index: 1;
      display: inline-block;
      vertical-align: middle;
      border: none;
      height: 300px;
      width: 366px;
      background: url(/images/logo_big.png) no-repeat 0px 0px; }
    #landing_page #center_container h1 {
      margin: 229px 0 0 0;
      text-align: center;
      font-family: "Helvetica";
      font-size: 84px;
      font-weight: 100;
      letter-spacing: -1px; }
      #landing_page #center_container h1 .first_letter {
        font-family: "Helvetica, serif";
        font-size: 168px;
        font-weight: 500; }
    #landing_page #center_container #description {
      margin: 40px 0;
      text-align: center; }
      #landing_page #center_container #description h2 {
        margin: 20px;
        font-family: "Helvetica";
        font-size: 1.6em;
        font-weight: 100; }
        #landing_page #center_container #description h2 .bold {
          font-weight: 500; }
    #landing_page #center_container #registration {
      position: relative;
      margin: 60px auto 40px auto;
      width: 490px;
      height: 100px;
      background: #e6e6e6;
      border: 7px solid #00b7fb;
      border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px; }
      #landing_page #center_container #registration .field {
        margin: 10px 20px 0 20px; }
        #landing_page #center_container #registration .field label {
          display: none; }
        #landing_page #center_container #registration .field input {
          padding: 3px;
          width: 270px;
          font-size: 1.3em;
          font-family: "Arial";
          color: #666666; }
      #landing_page #center_container #registration .actions {
        position: absolute;
        top: 25px;
        right: 15px; }
        #landing_page #center_container #registration .actions input {
          height: 52px;
          width: 151px;
          background: url(/images/button-signup-sprite.png) no-repeat 0px 0px;
          display: inline-block;
          vertical-align: middle;
          border: none; }
        #landing_page #center_container #registration .actions:hover {
          background-position: 0 -52px; }
