.signin_twitter {
  display: inline-block;
  vertical-align: middle;
  border: none;
  cursor: pointer;
  height: 32px;
  width: 230px;
  margin: 5px;
  background: url(/images/social/signin_twitter.png) no-repeat 0px 0px; }

.signin_facebook {
  display: inline-block;
  vertical-align: middle;
  border: none;
  cursor: pointer;
  height: 32px;
  width: 230px;
  margin: 5px;
  background: url(/images/social/signin_facebook.png) no-repeat 0px 0px; }

.signup_via_email {
  margin: 10px 0 0 0;
  cursor: pointer;
  font-size: 0.8em;
  color: #666666; }
  .signup_via_email:hover {
    color: #0088ba; }
