#suggestion_submit {
  display: inline-block;
  vertical-align: middle;
  border: none;
  background: url(/images/button-tweakit_up.png) no-repeat 0px 0px;
  height: 51px;
  width: 166px; }

#suggestion_submit:hover {
  background: url(/images/button-tweakit_overdown.png) no-repeat 0px 0px; }

#signup_box input[type="submit"] {
  display: inline-block;
  vertical-align: middle;
  border: none;
  background: url(/images/button-getthecode-sprite.png) no-repeat 0px 0px;
  height: 52px;
  width: 206px; }

#signup_box input[type="submit"]:hover {
  background-position: 0 -52px; }

#suggestion_thanks input[type="submit"] {
  display: inline-block;
  vertical-align: middle;
  border: none;
  height: 52px;
  width: 206px; }

#signup_box input[type="submit"]:hover {
  background-position: 0 -52px; }

.tweakthis {
  display: inline-block;
  vertical-align: middle;
  border: none;
  background: url(/images/button-tweakthis_up.png) no-repeat 0px 0px;
  height: 51px;
  width: 185px; }

.tweakthis:hover {
  background: url(/images/button-tweakthis_overdown.png) no-repeat 0px 0px; }

#demo_sprite {
  display: inline-block;
  vertical-align: middle;
  border: none;
  background: url(/images/button-tweakthis-example-sprite.png) no-repeat 0px 0px;
  height: 350px;
  width: 339px; }

#demo_sprite:hover {
  background-position: 0px -355px; }
