body {
  position: relative;
  font-size: 14px;
  font-family: Arial, sans-serif;
  background: #efefea; }

body_container {
  position: relative;
  margin: 0 auto; }

#main_content {
  text-align: center; }
  #main_content #main_content_inner {
    width: 90%;
    display: inline-block; }
