- title "- Thank you"
- stylesheets 'registration_thanks'
- scripts 'crouts'

#registration_thanks
  %h1
    Thank you!

  #happy_monkeys
    %h2
      The monkeys are
      %span.darkblue
        happy...

    %img{ :id => "cute_monkey", :src => "images/image-code_monkey.jpg" }

    %img{ :id => "cute_sharing", :src => "images/arrow-cute_sharing.png" }

    .event_registration_thanks_sharing
      = render :partial => "/layouts/sharing", :locals => { :share => { :url => "http://monkeymake.it/tw", :content => "I'm reading and remixing stories with @monkeymakeit", :count => "vertical", :faces => "true" } }

    %h2{ :style => "margin: 0 0 40px 420px;"}
      \...but not yet finished
      %span.darkblue
        building
      the site.

  %p
    We're working hard to let you
    %span.bold
      remix
    %br
    and follow amazing
    %span.bold
      stories
    from independent
    %span.bold
      authors.

  %p
    We'll email you something
    %span.bold
      awesome
    soon.

  %p
    In the meantime,
    %span.bold
      share this site!

    %span.blue{ :style => "font-size: .7em"}
      (Monkeys make great friends.)

  #bottom-sharing.event_registration_thanks_sharing
    = render :partial => "/layouts/sharing", :locals => { :share => { :url => "http://monkeymake.it/tw", :content => "I'm reading and remixing stories with @monkeymakeit", :faces => "true" } }
