= title "- Thank you"
- stylesheets 'static'

%h1
  Thanks for signing up!

%h2
  The monkeys are pleased...

%h2
  \...but they are not finished building this site. We'll let you know when we're ready.