#new_invitation
  #new_invitation_inner
    %h3
      Thanks!
    %h2.blue
      You've now invited
      %span.darkblue
        #{pluralize @friends, 'friend'}.

    #flash_messages
      = render :partial => '/layouts/flash', :locals => { :flash => flash }

    %h4.darkblue Invite another:

    = render 'form'

    %p.additional_info
      Take part in an in-progress publishing experiment. Signup three friends to get access to the next chapter.
      We promise to be nice to them.
