- scripts 'invitations'

#new_invitation
  #new_invitation_inner
    %h3
      Thanks! You're on the list.

    #flash_messages
      = render :partial => '/layouts/flash', :locals => { :flash => flash }

    - if @friends == 0
      %h2.blue
        Want a
        %span.darkblue
          sneak peek
        before your friends?

      %h4.blue
        First, you need friends.
        %span.darkblue
          Invite at least 3:

      = render 'form'

      %p.additional_info
        We'll only send them one email. No mailing lists. No spam.
        %br
        %br
        The more friends you invite, the sooner you'll get access to Doris, plus early drafts from my new book, all while supporting art and creativity!


    - else
      %h2.blue
        You've now invited
        %span.darkblue
          #{pluralize @friends, 'friend'}.

      %h4.darkblue
        Invite another:

      = render 'form'

      %p.additional_info
        Take part in a publishing experiment. Signup three friends to get access to the next chapter.
        We promise to be nice to them.
        %br
        %br
        (No mailing lists. No spam.)
