#new_invitation
  #new_invitation_inner
    %h2.blue
      Know someone who would enjoy this?
      %span.darkblue
        Invite them!

    %div(style='margin-top:2em')
    - if session[:user]
      %div(style='margin-bottom:2em')
      %h3
        You have invited
        - session[:user].reload
        = User.where( :inviter_id => session[:user].id ).count
        friends.

      %h3 Invite some more!

    #flash_messages= render :partial => '/layouts/flash', :locals => { :flash => flash }

    = render 'form'
