#new_invitation
  #new_invitation_inner
    %h3
      Thanks!
    %h2.blue
      You've now invited
      %span.darkblue
        = @friends
        - if @friends == 1
          friend.
        - else
          friends.

    #flash_messages= render :partial => '/layouts/flash', :locals => { :flash => flash }

    %h4.darkblue Invite another:

    = render 'form'

    %p
      The more friends you invite, the sooner you'll get access to
      %span{ :style => "font-weight: bold !important"}
        Doris,
      plus early drafts from my new book, all while supporting art and creativity!