%p#first_p
  %span#first_letter><
    T
  he jester pranced onstage, the seamstress sewed the dresses, the children danced in the dirt, the musicians played the songs, the beggars begged for alms, the executioner kicked the stools, the gravedigger dug the graves, and the gallows bird rose with the snap and landed again.

%p
  They argued, the jester's son and daughter, their arms in the air and their mouths wide, until she gave in and walked with him to the gallows and helped reclaim their father's costume from his hanging body, a mountain of torn fabric covered in rotting fruit matter, infested with maggots, and stained by excrement and dried saliva. Dogs, she said, indicating the fabric's leg that had been torn away. A crow watched from the top of the pole as they walked the costume home. She helped him clean off the smell, trying not to vomit but often failing, washing their father away until the costume was clean and snug, and the jester's son became the jester.

%p
  He collected coins in a bucket performing in the street. She sewed dresses for other poor folk, and they ate little. She had a cough and stayed in bed the day the castle announced a competition for the next court jester, so he went alone. At the entrance, he saw a never-ending sea of entertainers, poets, musicians, clowns, jugglers, and magicians in countless colors lined up along the grassy hill, waiting to enter the castle gate. They held each other’s shoulders, swinging mugs of beer and singing songs. The sun dimmed, the moon snarled, and the castle wall towered. Everyone’s skin turned gray, and the camaraderie splintered. Musicians pushed acrobats, poets kicked and bit the magicians, and jugglers threw everything they could find. The gate opened as he approached and he walked through candle-lit corridors into a small, dark room. Egged on by shadows and whispers, he danced and sang for the phantom king hidden in a lightless corner of the room. I do not have one job for you, the king said, but two.

%p
  The jester’s home of mildewed wood and dusty cobwebs on decaying rafters was no home from which to turn down work. She was worried, and told him so between coughs. He assured her that he could be their entertainer and their executioner both. He could play the hero, as he slid a giant finger up the royal nose. She shouldn’t complain. She had so much fabric and so little food. She buried her head in the same bucket with which he helped her wash, and he petted her head and told her to rest. When she felt better, customers would come again. He’d use the payment from tomorrow’s first performance for some medicine.
