= title "- About"
- stylesheets 'static'
- scripts 'stories'

#white_background
  #about
    %h1.darkblue
      About
    %p
      People say books are dead. We believe they're
      %b
        evolving.
    %p
      A book used to be a stack of paper. Now,
      %b
        a book can be a community.
    %p
      A book can be a collection of media. A book can be a place where your fans write the story with you. A book can be the entire world of your story, all the work it's inspired, and all the people that helped along the way.
    %p
      Collaboration makes more interesting work, brings more fans, and turns your story into something completely new.
    %p
      This is an experiment in
      %b
        interactive publishing
      and
      %b<
        viral creativity
      \. It too is evolving.
    %p
      Got a story? Make it better. Make it big.
      = link_to "MonkeyMake.it", root_path

    %h1.darkblue
      Funding
    %p
      This is a bootstrapped project. Currently no investment has been taken or is needed.
    %p
      Thanks for asking.

    %h1.darkblue
      Jobs
    %p
      No jobs! But feel free to #{link_to "volunteer", :contact}.