= title "- About"

#about
  %h1
    About
  %p
    This is an experiment.

  %h1
    Funding
  %p
    This is a bootstrapped project. Currently no investment has been taken or is needed.
  %p
    Thanks for asking.

  %h1
    Jobs
  %p
    No jobs! But feel free to #{link_to "volunteer", :contact}.