%h2.instructions To put this button on your site:

%br
%br

= collaborate_js_tag( :demo => true ).html_safe

%br
%br

%h2.instructions Copy/paste this code:

%br
%br

%code
  %pre
    %textarea{:rows => 2, :cols => 70}= collaborate_js_tag( :code => @user.code ).html_safe