= collaborate_js_tag( :demo => true, :document_write => false ).html_safe

#landing_page
  %h1#headline.blue
    Do you
    %span.darkblue blog?

  #left_column
    #demo_sprite{:onclick => 'collaborate_ligthbox_d601085();'}

  #right_column
    %ul#value_prop
      %li.blue
        Make your readers
        %span.darkblue happier
      %li.blue
        Happier readers
        %span.darkblue subscribe
        more
      %li.blue
        Let your readers suggest
        %span.darkblue edits

    = render "signup_form"

  .clear
