= lightbox_js( :demo => true ).html_safe

#landing_page
  %h1#headline.blue
    Do you
    %span.darkblue blog?

  #left_column
    #demo_sprite
    -#= lightbox_button('button-tweakthis-example-sprite.png').html_safe

  #right_column
    %ul#value_prop
      %li.blue
        Make your readers
        %span.darkblue happier
      %li.blue
        Happier readers
        %span.darkblue subscribe
        more
      %li.blue
        Let your readers suggest
        %span.darkblue edits

    #signup_box
      This is the signup form area

  .clear
