%h2.instructions Copy/paste this code into your site to get started:

%code
  %pre
    %textarea{:rows => 20, :cols => 100}= suggest_edit_lightbox_js

%h2.Sample buttons / links:

.tweakthis

= lightbox_js.html_safe
= suggest_edit_js.html_safe
