= collaborate_js_tag( :demo => true, :document_write => false ).html_safe

#landing_page
  %h1#headline.blue
    Do you
    %span.darkblue blog?

  #left_column
    #demo_sprite

  #right_column
    %ul#value_prop
      %li.blue
        Let your readers suggest
        %span.darkblue edits
      %li.blue
        Improve engagement, increase
        %span.darkblue subscriptions
      %li.blue
        Make your readers
        %span.darkblue happier

    = render "signup_form"

  .clear
