- if current_user && current_user.subscribed?(@story) == false
  = link_to subscriptions_path(:story_id => @story.id), :method => :post do
    .blue_button
      SUBSCRIBE

- else
  = render "sessions/signup_form"