.invite_widget
  .invite_header
    %h3
      Want a free book?
  .invite_content
    %p
      Invite more friends!
    %span#sharing
      .email_modal_trigger.blue_button
        Email
      = render :partial => "invites/sharing", :locals => { :share => { :url => "http://monkeymake.it/i/#{invite.code}", :content => 'Check out this first draft chapter of "Oh, Mighty Hiccup!" by Scott Lambridis. #books', :faces => "false", :width => "70px", :count => "none", :recommend => true } }
    %h3
      Or copy and paste this link:
    #invite_code
      %input{:type => "text", :value => "http://monkeymake.it/i/#{invite.code}"}