= title "- " + @story.title +  " Chapters"
- stylesheets 'chapters'


#chapters
  %h1
    = @story.title
    \- Table of Contents
  - @chapters.each do |chapter|
    .chapter
      = link_to [@story, chapter] do
        %img{ :src => '/images/stories/' + chapter.creatives.images.first.filename, :class => "chapter_image" }
        %h2.chapter_identifier
          = chapter.identifier
      -#- if can? :update, @chapter
        -#%td= link_to 'Edit', edit_chapter_path(chapter)
      -#- if can? :destroy, @chapter
      -#  %td= link_to 'Destroy', chapter, :confirm => 'Are you sure?', :method => :delete

-#- if can? :create, Chapter
  -#= link_to "Create new chapter", new_chapter_path