= title '- Discover and Remix'
- stylesheets 'root'

#landing_page
  #center_container
    #logo_container
      #big_logo

    #description
      %h2
        Publishing
        %span.italics
          sucks.

      %h2
        Discover and share new authors to get your own name in print.

    #flash_messages
      = render :partial => '/layouts/flash', :locals => { :flash => flash }

    .cta
      %img{ :src => "images/text/text-landingpage.png" }

    = render 'bookshelf'
