%p#first_p.bold{ :style => "color: #a9a9a9; line-height: 1.1em; font-size: 12px; margin-bottom: 30px;" }
  An excerpt from Chapter 3:
  %br
  %span.italics
    Wednesday | Laboratory Campus

%p{ :style => "text-indent: 0" }
  %span#first_letter><
    H
  %span.italics<
    ourglasses
  would be about a crime. My crime. My flight. My punishment. Even the campus bench was taken from me, but watch me continue to perpetrate. I write while walking now. The campus where my lab used to be was no longer safe, or my lone bench beneath the oak trees overlooking the grassy curve that bent beneath the tramples of students. There was more to be written here, but my circle of exile had grown outward from that red brick building. Behind my bench, a crow had died, and hundreds of others crowded into the tree, weighing down its limbs as they mourned. The tree bobbed and rustled, and their crap glued the acorns to the bench, the ground, and though the crows provided extra shelter from the drizzle, if I stayed I’d be glued here too. Brad York didn’t seem to notice the boughs sinking above him, or the crows’ screaming.
%p
  He said, “Rumors carry more weight these days, Raymond, since we don’t necessarily have time for truth.” His face clean, clear, white, unblemished, open, attentive, his absence of lashes creating a sharp oval crease against the socket. They suck in everything, searching, interested, with just enough hair on his almond-shaped head to prevent him from being bald, to give him a mask of softness and humanity that allowed him to slip between people, unnoticed. If he wanted to. He warned me. “Truth is slow and ponderous. Rumors are actionable. I know you didn’t do it. You know you didn’t do it. But no one else does. And they were pissed enough at you already.” It seems so obvious in retrospect, but I hadn’t considered that I was under suspicion. His eyes flickered, silver flames. “You look agitated, Raymond. Why are you agitated? Are you meddling again? You’re always meddling.” I didn’t know what he meant.
%p
  “I might be wrong, you know. I might have been wrong. About the whole thing,” I said, but he ignored me, and asked only for more pages. I had nothing else to say to Brad York; we had nothing else in common, so I left him on the bench with the tree of crows.
%p
  The words appeared again and again in my notebook: the lab burnt down. The lab burnt down. Someone burnt down the lab. Readers like mystery. Readers like suspense – the feeling of the unknown’s inevitable collapse into truth – and repetition breeds suspense. There, on the page. The lab burnt down. I read aloud as I walked towards the buildings, past the black scar that was the lab. I looked for students I didn’t recognize, hoping they wouldn’t recognize me.
%p
  “Excuse me? Are you familiar with the physics building?”
%p
  I kept my notebook out but never wrote in it; I wanted them to feel that this pseudo-detective, or reporter, or whatever I told them I was, was so captivated by their story that they’d feel special, and comfortable, and then I’d run off behind a building to put down everything before I forgot. And if they asked, “Are you really investigating?” or “They still have reporters?” I'd fan the pages as proof, showing only the rain-moistened scrawl. I was careful. I didn’t let them read any words. They would kill me. If they read it. Around every turn of the concrete path, through every courtyard door. They will kill me for wasting our time.

%p
  “Doesn’t anyone walk dogs anymore?” I asked as I passed pedestrians. Dog-walkers usually talk to each other.

%p
  “What?”

%p
  “Doesn’t anyone walk dogs anymore?”

%p
  “I don’t understand.”

%p
  I found smokers instead. There were plenty, and allowing them to smoke inside didn't also prevent them from going outside, even in the cold. Peach trees were in bloom, dropping their forgotten peaches onto the ground; there they dried. I tried to interrupt a group of smokers sitting beneath one. The smallest turned to me, but kept talking. He patted the ground and I sat down. I waited, listened, and was immediately entranced in some strange story about a man who built a giant instrument to regain time spent with his deceased wife. When he stopped talking, I asked what they were doing.

%p
  “We tell each other stories to create time,” said the smallest.

%p
  “We bury the stories in narrators,” said another.

%p
  “Each creates another layer of time,” said a third.

%p
  “Do you know what happened to this building?” I asked, notebook and pen at the ready, nodding towards the wreckage of my lab.

%p
  “Arson,” said the smallest.

%p
  “Obviously,” said the third.

%p
  “Obviously,” I said.

%p
  “Obviously,” said the smallest.

%p
  “Do you know who it was?”

%p
  “Why would we know that?” said the smallest.

%p
  “Why would we tell you?”

%p
  “How would we know?”

%p
  “Did you know anyone who died in the fire? Do you know a man named Octavio? Have you ever heard of a man named Octavio?” I asked, and when they took turns making up a story using his name, I asked about Edna, if they thought maybe she could’ve done it, if they’d seen her, and the smallest said, “Sounds like someone likes to tell stories too.”

%p
  There was someone’s stale breath behind me. A girl with stitches across her nose was standing too close, reading my open notebook over my shoulder.

%p
  “‘A scream that broke away from being human,’” she said, quoting my book, and smiled at the rest of the students.

%p
  “That’s quite dramatic,” said the smallest.

%p
  “Did they really do that?” she asked, pointing to my open notebook. I’d been walking past the metal fences circling the abandoned construction sites on the outskirts of the campus. Ivy and other vines crawled around and through fences. Rubble half-piled next to stacks of girders and rows of locked aqua-green port-o-johns. Signs for the Tri-City Fence Company coated in bird shit, and their yellow and blue machines now chained down and still. I’d written about a trio of students who’d climbed up the fence and lifted their hourglasses up, yelling, laughing, flaunting their time, and about how they’d been pulled from those fences by another, larger group that did not appreciate their luck, and who beat them with their books and their fists and their feet, even with their sifting, unbreakable, dangling hourglasses, until their victims’ bodies were as still as the abandoned tractors. I fled back towards main campus, trying locked doorway after locked doorway. In the main square, a congregation of students was protesting. I’d slipped through the mass, interviewing. I asked the usual questions about the fire, about who was working at the time. I asked about Edna, and they’d say “Yep,” and “no doubt,” and throw their butts down, sometimes flicking sparks on my shoe, but before I could say “Do you know where she hangs out? Where she lives? Can you take me to her?” they were gone. I learned that Edna’s father had been arrested, but not why. They didn’t care. They were pissed about being pushed out into the workforce earlier, about a shorter grade school. But what I’d written, and the way the girl scratching the stitches on her nose read it to her audience were different”

%p
  “‘Next ‘to the protesters, the gym coach was cutting wood for signs. When he heard the hourglass rumble and the words No way, no way, not me, Mr. Torvino stepped out, and with one jerk of his elbow sunk his bow saw into the side of the boy’s neck, and then he yanked again, like he was pulling the ripcord on a lawn mower, and when the boy saw the spray of blood he stopped screaming. A moving cloud sent a shadow over the silent students, and the silent gym coach, until a man with silver flames in his eyes nodded, and the gym coach nodded, and one of the teachers held the man’s hand and led him onto the grass to lay down, lengthening a line of blood that no one would clean up. He was the last of five to expire during the protest, but the other four had been more considerate, walking over to the same patch of grass and promptly putting their guns to their head. The other students took up their signs, but left the hourglasses where they lay.’”

%p
  Clouds thickened above me. Shadows softened in the dulling light.

%p
  “Only five?” said the smaller one on the ground, and the girl said, “Yeah, right?”

%p
  “And far too chronological. We’re wasting away here.” The girl folded her legs beside him. Their unblinking eyes. I searched for anger, and found it.

%p
  “And what about you?” said the smaller.

%p
  “What if you’re the arsonist? That’d be an interesting story, right?” He slipped his hand under the girl’s belt and leaned over and kissed the stitches on her nose.

%p
  “Yeah, that’d be a great story,” she said, and smiled up at me.

%p
  “Him?” said a second boy.

%p
  “Oh shit, right?”

%p
  “Totally,” said a third.

%p
  “Should we report him?” said the girl, smiling at me.

%p
  “It totally makes sense.”

%p
  “He’s trying to create an alibi.”

%p
  “He’s trying to confuse us.”

%p
  “He’s wasting our fucking time.” They gathered their bags and their books and their umbrellas, and as they rose from the damp ground, I walked, and then jogged, and then, seeing their bags and books and umbrellas above their heads, chasing me, I ran.

%p{ :style => "color: #a9a9a9; text-align: center;"}
  \- to be continued -

%p{ :style => "color: #a9a9a9; text-align: center;"}
  (This is an early draft. More coming soon. Feel free to monkey with it, and thanks for reading.) 