- title "- Doris by Scott Lambridis"
- stylesheets 'crout'

#crout
  %h1
    Doris
  %h2
    a short story about an albino duck
  #left_column
    .story_pic
      %img{ :src => "images/image-doris.jpg"}
      #art_credit
        "
        %b> Doris
        " by Tyler Landry
    %p#first_p
      %span#first_letter> W
      hat happened next was simple: O'Malley saw a duck, and the sight of that duck was accompanied by a sense of familiarity beyond the common familiarity with duck-like forms. He could not place why he had that feeling but, being trained in consumer awareness and acutely tuned to the intricacies of perception, O'Malley surmised the true cause of the accident. Moments ago, inside the trolley, in the periphery of his consciousness and beyond his recognition, an image had formed of this sort of duck, a model for automation from wings to webbings, a white sort of duck whose everything that should have been yellow was instead a pale pink like a young farm girl's arms in the wind, and had he been interviewed the following day for the morning edition, O'Malley would have sworn that he saw the duck right there on the tracks, begging calamity, even before he heard the trolley wheels squelch and the packed passengers scream and the head push through the glass, and now there was the duck again outside the trolley, sitting right on the tracks behind the trolley though the trolley had detached itself from its grooves, and O'Malley, rather than addressing the forms and noises and confusion behind him, scooped the duck up into his arms and walked away.
    %p Before I continue...

    .copyright
      \©2010-2011 Scott Lambridis

  #right_column
    #about_author
      %h3 About the author
      %img{:src => "images/image-scott-lambridis.png"}
        %p
          My stories have appeared in Storyglossia, the UK's Black Static, and Transfer Magazine. Born and raised in New York, I earned a degree in neurobiology from UVa - which I promptly abandoned for a creative career. I'm completing my MFA at San Francisco State, and working on a book about the scientist who discovered the end of time. You know, the usual:
          %a.blue{:href => "mailto:scott@omnibucket.com"} Email me
