.content.email_activity
  = render :partial => "profiles/avatar", :locals => { :user => activity.user }

  .summary
    = render :partial => "activities/actor", :locals => { :activity => activity }

    = activity.activity_type.downcase

    an email
    - if !activity.target.nil?
      = activity.target.email
      \.
    - else
      an email.

  .complete
    -# Insert complete description here?
    -#- if !activity.target.nil?
    -#  = link_to activity.target.title, activity.target