.content.misc_activity
  = render :partial => "activities/avatar", :locals => { :user => activity.user }

  .summary
    = render :partial => "activities/actor", :locals => { :activity => activity }

    = activity.activity_type.downcase

    trying to access

    = link_to activity.url

  .complete