.content.user_activity
  = render :partial => "activities/avatar", :locals => { :user => activity.user }

  .summary
    = render :partial => "activities/actor", :locals => { :activity => activity }

    = activity.activity_type.downcase

    - if !activity.target.nil?
      -activity.target.full_name
    's profile

  .complete
