#new_suggestion
  #new_suggestion_inner
    %h1 THIS IS A DEMO!
    %h2.blue
      Tweak this
      %span.darkblue
        blog post!
    #flash_messages= render :partial => '/layouts/flash', :locals => { :flash => flash }
    = render 'form'