#new_suggestion
  -#%pre= params[:url]
  #new_suggestion_inner
    %h2.blue
      Tweak this
      %span.darkblue
        blog post!
    #flash_messages= render :partial => '/layouts/flash', :locals => { :flash => flash }
    = render 'form'