#new_suggestion
  #new_suggestion_inner
    %h2.blue
      Tweak this
      %span.darkblue
        blog post!
    #flash_messages= render :partial => '/layouts/flash', :locals => { :flash => flash }
    - if params[:demo]
      #demo THIS IS JUST A DEMO!
    = render 'form'