@import 'variables'

body
  height: 100%
  margin: 0
  padding: 0
  background: $white
  font-size: 14px
  font-family: Arial, sans-serif

container
  position: relative
  min-height: 100%
  height: auto !important

content
  display: inline-block
  width: 100%
  padding-bottom: 100px
  text-align: center
  background: $white
  @include box-shadow(0, 5px, 5px, 0, #ccc)

  content_inner
    display: inline-block
    position: relative
    padding: 30px
    text-align: left
    min-width: 500px

.blue
  color: $blue !important

.darkblue
  color: $darkblue !important

.black
  color: $black !important

.darkgrey
  color: $darkgrey !important

.clear
  clear: both

