@import 'variables'

body
  height: 100%
  margin: 0
  padding: 0
  background: $white
  font-size: 14px
  font-family: $font-3

container
  display: block
  position: relative
  min-height: 100%
  width: 100%

content
  display: inline-block
  width: 100%
  padding-bottom: 76px
  background: $white

  content_inner
    display: block
    position: relative
    margin: 0 auto
    padding: 30px
    @include min-max-width

h1
  font-size: $ginormous
  margin: 20px

h2
  font-size: $giant
  margin: 20px
  font-weight: 100

p
  margin: 20px
  line-height: $giant

.bold
  font-weight: 600

.thin
  font-weight: 100

.italics
  font-style: italic

.blue
  color: $blue !important

.darkblue
  color: $darkblue !important

.black
  color: $black !important

.grey
  color: #888 !important

.darkgrey
  color: $darkgrey !important

.red
  color: $red !important

.clear
  clear: both

.hide
  display: none

.nodec
  text-decoration: none !important
  border-bottom: none !important