#flash_messages
  - flash.each do |name, msg|
    %div{:class => name, :style => "display: none;"}
      = msg
      .close
      .clear
  - if !@message.nil?
    %div{:class => "info", :style => "display: none;"}
      = @message[:msg]
      - @message[:tags].each do |tag|
        %span.tag
          = tag
      .close
      .clear
