@import 'variables'

header
  position: relative
  display: inline-block
  z-index: 2
  padding: 0
  height: 58px
  width: 100%
  background-color: $blue-mid
  text-align: center
  color: $white
  @include box-shadow(0, 2px, 2px, 0, #666)

  header_inner
    display: block
    position: relative
    margin: 0 auto
    padding: 30px
    @include min-max-width
    text-align: left
    a#home_link
      text-decoration: none
      color: $white
      logo
        position: absolute
        top: -1px
        @include sprite
        height: 71px
        width: 232px
        background: url(/images/logo-small.png) no-repeat 0px 0px

      h1
        position: absolute
        top: 40px
        left: 115px
        margin: 0 0 0 0
        font-family: $font-4
        font-size: 24px
        font-weight: 100
        letter-spacing: -1px
        .first_letter
          font-family: $font-4
          font-size: 40px
          font-weight: 500
      .signup
        position: absolute
        right: 30px
        top: 10px
        @include pointer