#join
  #join_inner
    %h1.blue
      Sign up for
      %span.darkblue
        early access

    %ul
      %li
        Collaborate with the author
      %li
        Create alternate versions
      %li
        Find more fans

    %h2.blue
      We'll send you an email
      %span.darkblue
        soon

    = render :partial =>'layouts/registration_form'
    %p
      We will never spam or sell your email address.
