:javascript
  var _kmq = _kmq || [];
  function _kms(u){
    setTimeout(function(){
      var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true;
      s.src = u; f.parentNode.insertBefore(s, f);
    }, 1);
  }

- if RAILS_ENV == "production"
  - if !session[:admin]
    :javascript
      _kms('//i.kissmetrics.com/i.js');_kms('//doug1izaerwt3.cloudfront.net/4c67e3969c626932c5c577b2d8cfb5f67ced6f03.1.js');
- else
  :javascript
    _kms('//i.kissmetrics.com/i.js');_kms('//doug1izaerwt3.cloudfront.net/dcab85462285621097277fae25ca542d32491970.1.js');
