.sharing-show
  -# Twitter share button
  .twitter
    %a.twitter-share-button{ "data-text" => content,
        "data-url" => url,
        "related" => "monkeymakeit:Collaborative Writing and Publishing",
        :href => "http://twitter.com/share",
        "data-count" => count,
    }
      Tweet
    %script{ :src => "http://platform.twitter.com/widgets.js", :type => "text/javascript" }

  -# Facebook like and send button
  .facebook
    #fb-root
    %script{:src => "http://connect.facebook.net/en_US/all.js#appId=135537883194595&xfbml=1"}
    %fb:like{ :font => "",
        :href => ( url == "http://monkeymake.it/tw") ? "http://www.facebook.com/pages/MonkeyMakeit/210728972305103?sk=wall" : url,
        :layout => (count == "vertical") ? "box_count" : "button_count",
        :send => "true",
        :show_faces => "true",
        :width => "200",
    }