@import 'variables'

#registration
  position: relative
  margin: 60px auto 40px auto
  width: 490px
  height: 100px
  background: $grey
  border: 7px solid $blue
  @include radius

  .field
    margin: 10px 20px 0 20px
    label
      display: none
    input
      padding: 3px
      width: 270px
      font-size: $largest
      font-family: 'Arial'
      color: $darkgrey

  .actions
    position: absolute
    top: 25px
    right: 15px

    input
      height: 52px
      width: 151px
      background: url(/images/button-yes-sprite.png) no-repeat 0px 0px
      @include sprite

      &:hover
        background-position: 0 -52px

#cboxContent
  background: $lightgrey !important

