#must_login
  #must_login_inner
    %h1.blue
      Sign up for
      %span.darkblue
        access

    %h2
      Readers:
    %ul
      %li
        Get access to early drafts
      %li
        Be a part of the writing

    %h2
      Writers and Artists:
    %ul
      %li
        Collaborate with the author
      %li
        Create alternate versions
      %li
        Find more fans

    %h2.blue
      You'll get early access
      %span.darkblue
        ready

    = render :partial =>'layouts/registration_form'
    %p
      We will never spam or sell your email address.