:javascript
  $(document).ready(function() {
    $('.join_modal').
      colorbox({width:"600px", height:"540px", inline:true, href:"#join"}).
      live('click', function() {
        $.get("/activities/create", {
          url : location.href,
          activity_type : "Clicked",
          target_model : "Join Button",
        });
      });
    $('.watch_modal').
      colorbox({width:"600px", height:"540px", inline:true, href:"#watch"}).
      live('click', function() {
        $.get("/activities/create", {
          url : location.href,
          activity_type : "Clicked",
          target_model : "Watch Button",
        });
      });
  });
.hide
  = render '/layouts/join_modal'
  = render '/layouts/watch_modal'
