:javascript
  $(document).ready(function() {
    $('.access_denied').
      colorbox({width:"600px", height:"540px", inline:true, href:"#must_login"}).
      live('click', function() {
        $.post("#{activities_path}", {
          url : location.href,
          activity_type : "Clicked Access Denied"
        });
      });
  });
.hide
  = render '/layouts/signup_guts'
